@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@500;600&display=swap');

:root {
    --color-bg: #E1C7A2;
    --color-off-white: #F2EBE3;
}

html {
    font-family: sans-serif;
}
#addBookForm {
    display: none;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px 10px;
}